body {
    margin: 0;
} 

/* Header Section */
.container {
    margin: 10px auto 0 auto;
    width: 600px;
    font-family: Smythe;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.title-top {
    margin: 0;
    padding: 0;
    background-image: url("images/bg-burger.jpg");
    background-size: cover;
    background-position: 50% 65%;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    gap: 10px;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 29px;
    line-height: 24px;
}

.title-desc {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

/* Menu Section */
.menu {
    margin: 0 50px 40px 50px;
}
.items{
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 0;
    padding: 50px 0 50px 0;
}

.items-inner{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black;
    font-weight: bold;
}

.item-emoji {
    font-size: 70px;
    margin: 0 20px 0 0;
}

.item-name {
    margin: 0 0 5px 0;
    font-size: 20px;
}

.item-ingredients {
    margin: 0;
    font-weight: 400;
    color: #8B8B8B;
}

.item-price {
    margin: 5px 0 0 0;
}

.item-add {
    width: 40px;
    height: 40px;
    color: #3C3C3C;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 0;
    margin-left: auto;
}

/* Cart Section */

.cart {
    margin: 20px 50px 0 50px;
}

.orders {
    margin: 0;
    width: 100%;
}

.orders-inner {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.order-title {
    margin: 0;
    text-align: center;
}

.orders-container {
    margin: 0;
}

.order-items {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.item-count {
    margin-right: 7px;
    font-weight: bold;
    font-size: 20px;
}

.order-name {
    font-weight: bold;
    font-size: 20px;
}

.order-remove-btn {
    border: none;
    background-color: transparent;
    font-weight: 400;
    color: #8B8B8B;
}

.order-remove-btn:hover {
    text-shadow: 0 0 1px black;
}

.order-remove-btn:focus {
    outline: none;
}

.order-price {
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}

.total-container {
    margin: 0;
    border-top: 2px solid #393333;
    display: flex;
}

.total-text {
    font-weight: bold;
    font-size: 20px;
}

.total-amount {
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}

.complete-order-btn {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #16DB99;
    border: none;
    color: #ffffff;
    font-weight: 700;
    border-radius: 3px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    width: 400px;
    height: 400px;
    border-radius: 4px;
    z-index: 20;
}

form {
    margin: 20px auto 0 auto;
    font-family: verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-title {
    margin-bottom: 20px;
}

.form-input {
    width: 300px;
    height: 40px;
    border-radius: 4px;
}

.form-name {
    font-size: 20px;
}

.pay-btn {
    margin-top: 30px;
    width: 310px;
    height: 45px;
    background-color: #16DB99;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: #ffffff;
}

.ticket {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px auto;
    background-color: #c6f5e6;
    color: #006646;
    width: 500px;
    height: 100px;
    font-size: 20px;
    border-radius: 4px;
}

.ticket p{
    margin: 0;
}