body {
    margin: 0 auto 0 auto;
    width: 600px;
    height: auto;
    display: flex;
    font-family: Smythe;
} 

header {
    margin-top: 0;
    background-image: url("images/bg-burger.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 167px;
}

h1 {
    margin: 56px 0 0 46px;
    color: #ffffff;
    font-weight: 400;
    font-size: 29px;
    line-height: 24px;
}

.title-desc {
    margin: 10px 0 0 46px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

.items{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

/* .items-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.items-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
} */