body {
    margin: 0;
} 

.container {
    margin: 0 auto 0 auto;
    width: 600px;
    height: 1000px;
    font-family: Smythe;
    border: 5px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.title-top {
    margin: 0;
    padding: 0;
    background-image: url("images/bg-burger.jpg");
    background-size: cover;
    background-position: 50% 65%;
    height: 167px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    gap: 10px;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 29px;
    line-height: 24px;
}

.title-desc {
    margin: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

.menu {
    margin: 0 50px 0 50px;
}
.items{
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin: 0;
    padding: 50px 0 50px 0;
}

.items-inner{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: black;
    font-weight: bold;
}

.item-emoji {
    font-size: 70px;
    margin: 0 20px 0 0;
}

.item-name {
    margin: 0 0 5px 0;
    font-size: 20px;
}

.item-ingredients {
    margin: 0;
    font-weight: 400;
    color: #8B8B8B;
}

.item-price {
    margin: 5px 0 0 0;
}

.item-add {
    width: 40px;
    height: 40px;
    color: #3C3C3C;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 0;
    margin-left: auto;
}

